/* microposts */

.post
{
    width: 700px;
    margin: 10px auto;
    padding: 5px;

    color: black;
    background-color: #eee;
    .user:before,
    .user:after
    {
        display: block;
        clear: both;

        content: '';
    }
}
.content
{
    display: block;
}

.timestamp {
  color: #333333;
}
.attachments{
  list-style: none; 
  li{
    display:inline-block;
  }
}